@{
    ViewData["Title"] = "Studying Html";
}

<div class="story">
    <div class="story-our">
        <p class="border-blue">OUR STORY</p>
    </div>
    <div class="about">
        <div class="about-left">
            <div>
                <p class="about-left-top-p">Founded in 2011 by John Mathew</p>
                <p class="about-left-top-p">Smith, Konstruct has become the</p>
                <p class="about-left-top-p">number one construction management</p>
                <p class="about-left-top-p">firm</p>
            </div>
            <div class="about-left-bot">
                <p class="about-left-bot-p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>
                <p class="about-left-bot-p">diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
                <p class="about-left-bot-p">aliquam erat. Lorem ipsum dolor sit amet, consectetuer</p>
                <p class="about-left-bot-p">adipiscing elit, sed diam nonummy nibh euismod tincidunt ut</p>
                <p class="about-left-bot-p">laoreet dolore magna aliquam erat.</p>
            </div>
        </div>
        <div class="about-right">
            <div class="plan">
                <p class="about-right-p">WE<br> PLAN</p>
            </div>
            <div class="manage">
                <p class="about-right-p">WE<br> MANAGE</p>
            </div>
            <div class="build">
                <p class="about-right-p">WE<br> BUILD</p>
            </div>
        </div>
    </div>
    <div class="capabilities">
        <div class="capabilities-top">
            <div class="capabilities-top-our">
                <p class="border-blue">OUR CAPABILITIES</p>
            </div>
            <div class="capabilities-top-text">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                <p>nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
            </div>
            <div class="capabilities-top-botton">
                <a href="https://hyundai.by/services/service/" class="capabilities-top-botton-a">ALL SERVICES</a>
            </div>
        </div>
        <div class="capabilities-bot">
            <div class="capabilities-bot-first">
                <div class="picture-first">
                </div>
                <p class="capabilities-bot-mid-p">PROJECT AND CONSTRUCTION<br /> MANAGEMENT</p>
                <p class="capabilities-bot-bot-p">
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet dolore magna aliquam erat.
                </p>
            </div>
            <div class="capabilities-bot-first">
                <div class="picture-second">
                </div>
                <p class="capabilities-bot-mid-p">STRUCTURE AUDIT AND<br /> MAINTENANCE</p>
                <p class="capabilities-bot-bot-p">
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet dolore magna aliquam erat.
                </p>
            </div>
            <div class="capabilities-bot-first">
                <div class="picture-third">
                </div>
                <p class="capabilities-bot-mid-p">FACTORY CONSTRUCTION<br /> AND MODELING</p>
                <p class="capabilities-bot-bot-p">
                    Lorem ipsum dolor sit amet,<br>
                    consectetuer adipiscing elit, sed diam<br>
                    nonummy nibh euismod tincidunt ut<br>
                    laoreet dolore magna aliquam erat.
                </p>
            </div>
        </div>
    </div>
</div>
