<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
    <header>
        <div class="upper-header">
            <div class="upper-header-top">
                <p>KONSTRUCT</p>
            </div>
            <div class="upper-header-middle">
                <p class="upper-header-middle-big">PARTNER WITH KONSTRUCT</p>
                <p class="upper-header-middle-little">An award-winning construction management firm</p>
            </div>
            <div class="upper-header-bot">
                <p>SCROLL DOWN</p>
            </div>
        </div>
        <div class="lower-header">
            <div class="lower-header-left">
                <p>KONSTRUCT</p>
            </div>
            <div class="lower-header-right">
                <a class="lower-header-a" href="https://easyspeak.ru/blog/v-chem-raznica-mezhdu/v-chem-raznica-mezhdu-home-i-house">HOME</a>
                <a class="lower-header-a" href="https://myefe.ru/reference/about">ABOUT</a>
                <a class="lower-header-a" href="https://www.service.nsw.gov.au/services">SERVICES</a>
                <a class="lower-header-a" href="https://wooordhunt.ru/word/work">WORK</a>
                <a class="lower-header-a" href="https://hyundai.by/services/service/">CONTACT</a>
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="footer-main">
            <div class="footer-bg">
                <div class="footer-bg-space">
                    <p class="footer-bg-p">Want to build</p>
                    <p class="footer-bg-p">something amazing?</p>
                </div>
                <a href="https://hyundai.by/services/service/" class="capabilities-top-botton-a">GET IN TOUCH</a>
            </div>
            <div class="signup">
                <div class="signup-letter">
                    <p>Newsletter Signup</p>
                </div>
                <div class="signup-button">
                    <input type="text" id="username" placeholder="test@youremail.com">
                    <a href="https://hyundai.by/services/service/" class="capabilities-top-botton-a">SIGNUP</a>
                </div>
            </div>
            <div class="footer-inf">
                <div class="company">
                    <p class="company-p">COMPANY</p>
                    <p class="konstruct-p">KONSTRUCT</p>
                    <p class="company-p-bot">
                        Lorem ipsum dolor sit amet,<br>
                        consectetuer adipiscing elit, sed diam<br>
                        nonummy nibh euismod tincidunt ut<br>
                        laoreet dolore magna aliquam erat.
                    </p>
                </div>
                <div class="links">
                    <p class="company-p">LINKS</p>
                    <div class="links-first">
                        <a class="links-a" href="https://homecollection.by/">HOME</a>
                        <a class="links-a" href="https://myefe.ru/reference/about">ABOUT</a>
                        <a class="links-a" href="https://www.service.nsw.gov.au/services">SERVICES</a>
                        <a class="links-a" href="https://www.archdaily.com/search/projects">PROJECTS</a>
                        <a class="links-a" href="https://hyundai.by/services/service/">CONTACT</a>
                    </div>
                </div>
                <div class="faq">
                    <a class="links-a" href="https://animatika.ru/info/gloss/faq.html">FAQ</a>
                    <a class="links-a" href="https://hyundai.by/services/service/">TERMS</a>
                    <a class="links-a" href="https://careers.google.com/">CAREERS</a>
                </div>
                <div class="blog">
                    <a class="links-a" href="https://www.blogger.com/about/?bpli=1">BLOG</a>
                    <a class="links-a" href="https://www.unpartnerportal.org/">PARTNERS</a>
                    <a class="links-a" href="https://www.bbc.com/news/world">NEWS</a>
                </div>
                <div class="contact">
                    <p class="company-p">CONTACT US</p>
                    <p class="company-p-bot">
                        213 Baker Street<br />
                        Oriel City Kounty<br />
                        7000 KNW,<br />
                        Kountry Name
                    </p>
                    <p class="company-p-bot">+23 994 233 4022</p>
                    <p class="company-p-bot">info@konstruct.com</p>
                </div>
                <div class="messengers">
                    <a class="footer-icon" href="https://www.facebook.com/"><img src="~/Images/icons8-facebook-25.png" /></a>
                    <a class="footer-icon" href="https://twitter.com/?lang=ru"><img src="~/Images/icons8-твиттер-32.png" /></a>
                    <a class="footer-icon" href="https://www.google.by/"><img src="~/Images/icons8-google-32.png" /></a>
                </div>
            </div>
            <div class="footer-end">
                <p>© 2017 Konstruct Inc. Designed by Jane Kathryn Teo</p>
            </div>
        </div>
    </footer>
</body>
</html>
